:root {
  --color-primary: #18bb25;
  --border-color: #323232;
  --primary-text: #474646;
  --color-white: #FFF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
  font-family: sans-serif;
  background-color: #fffbfb;
}

.header {
  background-color: var(--color-primary);
  padding: 10px;
  border-radius: 10px;
}

.header__title {
  text-align: center;
  color: var(--color-white);
}

.container {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.card {
  padding: 10px 20px;
  border: 1px solid  var(--border-color);
  border-radius: 5px;
  background-color: var(--color-white);
  width: 100%;
  max-width: 300px;
}

.card__title {
  font-size: 18px;
  text-transform: uppercase;
  color: var(--primary-text);
  margin: 10px 0;
}

.card__title::after {
  content: "";
  display: block;
  width: 80px;
  height: 5px;
  background-color: #18bb25;
  border-radius: 10px;
}

.card_news{
  margin-left: 15px;
}

.card_news-title {
  color: var(--primary-text);
  margin: 5px 0;
}

.button {
  border: none;
  background-color: var(--color-white);
  padding: 5px;
  text-align: center;
  display: block;
  width: 100%;
  color: var(--color-primary);
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.card__float {
  position: absolute;
}
